@page "/cabletypes/delete"
@using Microsoft.EntityFrameworkCore
@using TrayReportApp.Models
@inject IDbContextFactory<TrayReportApp.Data.TrayReportAppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>CableType</h2>
    <hr />
    @if (cabletype is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Purpose</dt>
            <dd class="col-sm-10">@cabletype.Purpose</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@cabletype.Type</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Diameter</dt>
            <dd class="col-sm-10">@cabletype.Diameter</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Weight</dt>
            <dd class="col-sm-10">@cabletype.Weight</dd>
        </dl>
        <EditForm method="post" Model="cabletype" OnValidSubmit="DeleteCableType" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(cabletype is null)">Delete</button> |
            <a href="/cabletypes">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private CableType? cabletype;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        cabletype = await context.CableTypes.FirstOrDefaultAsync(m => m.Id == Id);

        if (cabletype is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteCableType()
    {
        using var context = DbFactory.CreateDbContext();
        context.CableTypes.Remove(cabletype!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/cabletypes");
    }
}
